	<md-toolbar class="md-whiteframe-2dp">
		<div class="md-toolbar-tools app-width" layout="row">
				<i class="material-icons">trending_up</i>
			<span flex></span>
			<md-button ui-sref="app.shop.list" aria-label="Shop">
				ORDER
			</md-button>
			<md-button ng-hide="true" ui-sref="app.results" aria-label="Results">
				CHARTS
			</md-button>
			<md-button ui-sref="app.faq" aria-label="FAQ">
				ACCOUNT
			</md-button>
			<md-button ui-sref="app.resources" aria-label="Resources">
				LOGIN
			</md-button>		
		</div>
	</md-toolbar>